doctype
html
  block vars

  head
    include head.pug

  body

    include navbar.pug

    block content

    include footer.pug

    if (locals.styleSwitcher)
      include style-switcher.pug

    include scripts.pug
