// navbar
.sidebar.sticky-top
    ul.sidebar-list.list-unstyled.mb-0
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#intro")
                i.fas.fa-marker.fa-fw
                |  Introduction
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#features")
                i.fas.fa-layer-group.fa-fw
                |  Features
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#html")
                i.fab.fa-html5.fa-fw
                |  HTML Structure
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#css")
                i.fab.fa-css3-alt.fa-fw
                |  CSS Structure
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#fonts")
                i.fas.fa-font.fa-fw
                |  Fonts
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#images")
                i.far.fa-image.fa-fw
                |  Images
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#js")
                i.fab.fa-js-square.fa-fw
                |  Javascript
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#sass")
                i.fab.fa-sass.fa-fw
                |  Sass Files
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#changelog")
                i.fas.fa-clipboard-check.fa-fw
                |  Changelog
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#credits")
                i.fab.fa-wpforms.fa-fw
                |  Source &amp; Credits
        li.sidebar-item
            a.sidebar-link.link-scroll(href="#thanks")
                i.fas.fa-heart.fa-fw
                |  Thank You
        
