footer.footer
    .footer__block
        .container
            .row

                .col-md-4.col-sm-12

                    p This is footer

                .col-md-4.col-sm-6

                    p This is footer

                .col-md-4.col-sm-6