// JavaScript files

script(src='vendor/jquery/jquery.min.js')
script(src='vendor/popper.js/umd/popper.min.js')  
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='vendor/jquery.cookie/jquery.cookie.js') 
script(src='vendor/owl.carousel/owl.carousel.min.js')
script(src='js/front.js')