// Javascript files

script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js') 
script(src='js/bootstrap.min.js')
script(src='js/jquery.cookie.js') 
script(src='js/owl.carousel.min.js')
script(src='js/front.js')

if (enhancedForm)
    script(src='js/select2.js')
    script(src='js/forms.js')
