// Javascript files

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='js/tether.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.cookie.js') 
script(src='js/owl.carousel.min.js')
script(src='js/front.js')

if (enhancedForm)
    script(src='js/select2.js')
    script(src='js/forms.js')
