extends _pug-includes/layout

block content

    .container-fluid
        // HELLO SECTION
        section.text-center.mb-5.hero
            img.mb-4(src="img/logo-default.svg", alt="Italiano Restaurant", width="150")
            +heading('', 'Italiano Restaurant Documentation', 'Documentation', 'mb-2', true)
            
            .row
                .col-lg-8.mx-auto
                    p.text-muted.lead.mb-3 Thank you for purchasing My product. If you have any questions that are beyond the scope of this help file, please feel free to email me. Thanks so much!
                    a.reset-anchor.h6.mb-5.d-block.text-primary.d-inline-block(href="https://italianolight.netlify.com", target="_blank") Italianolight.netlify.com

    
            ul.list-unstyled.intro-list.mx-auto.text-left
                li.px-3.py-2.bg-light.mb-1
                    span.font-weight-bold.text-uppercase.mb-0.small.text-dark Created: 
                    span.text-muted.pl-2 10/2/2020
                li.px-3.py-2.bg-light.mb-1.text-muted
                    span.font-weight-bold.text-uppercase.mb-0.small.text-dark Created By: 
                    span.text-muted.pl-2 Mohamed Hasan
                li.px-3.py-2.bg-light.mb-1.text-muted
                    span.font-weight-bold.text-uppercase.mb-0.small.text-dark Author Email: 
                    a.reset-anchor.pl-2.reset-anchor(href="mailto:mhmdhasan7@outlook.com") Mhmdhasan7@outlook.com
        
    .container-fluid
    
        .row
            .col-lg-3
                include _pug-includes/navbar.pug
            .col-lg-9
        
                // INTRODUCTION SECTION ======================================================================== 
                section.bg-light.mb-5#intro
                    +heading('Intro', 'Introduction', 'Introduction', 'mb-3')
                    p.lead Italiano is a modern clean HTML template for Cafe &amp; Restaurant and any food-related business website. It comes with a modern and smooth design. More features with 7 pages that fulfill almost all your needs. Using advanced Bootstrap 4 Framework with HTML5/CSS3. Clean and clear code, It's responsive and will fit great on all devices. buy it now and boost your restaurant and cafe business.
                    
                
                
                // FEATURES SECTION ======================================================================== 
                section.bg-light.mb-5#features
                    +heading('Features', 'Theme Features', 'Features', 'mb-3')
                    ol.p-0.custom-numbers
                        li.lead.mb-1 28 HTML pages that fullfil all your needs.
                        li.lead.mb-1 6 variant theme colors.
                        li.lead.mb-1 Clean, modern &amp; beautiful design.
                        li.lead.mb-1 Bootstrap form validation included across all pages.
                        li.lead.mb-1 Wroking free map that doesn't need an API key.
                        li.lead.mb-1 Dark theme included.
                        li.lead.mb-1 Bootstrap 4 latest Based.
                        li.lead.mb-1 Fully responsive, compatible with all screen viewports.
                        li.lead.mb-1 Major browsers compatibility.
                        li.lead.mb-1 SEO friendly markup.
                        li.lead.mb-1 Well commented files.
                        li.lead.mb-1 W3C valide code.
                        li.lead.mb-1 Free Google fonts used.
                        li.lead.mb-1 Font Awesome icons used.
                        li.lead.mb-1 Super easy customization.
                        li.lead.mb-1 SASS files included (more customization).
                        li.lead.mb-1 Premium support.
                
                
                
                
                // TEMPLATE CONTENT ========================================================================  
                section.bg-light.mb-5#templateFiles
                    +heading('Files', 'Theme Files', 'Files')
                    p.lead.mb-5 Click on the folder icon to see the files inside each folder.
                    ul.directory-list
                        li.folder
                            | Italiano | Light Theme

                            ul
                                li.folder(data-toggle="collapse", aria-expanded="false", data-target="#cssFolder")
                                    | css
                                    small.small.ml-2.text-gray - &nbsp; Contains the defaul stylesheets
                                    ul.collapse#cssFolder
                                        li style.alt.font.css
                                        li style.alt.font.min.css
                                        li style.blue.css
                                        li style.blue.min.css
                                        li style.default.css
                                        li style.default.min.css
                                        li style.green.css
                                        li style.green.min.css
                                        li style.pink.css
                                        li style.pink.min.css
                                        li style.red.min.css
                                        li style.red.css
                                        li style.rounded.min.css
                                        li style.rounded.css
                                        li style.sea.min.css
                                        li style.sea.css
                                        li style.violet.min.css
                                        li style.violet.css
                                        li style.yellow.min.css
                                        li style.yellow.css
                                
                                li.folder(data-toggle="collapse", aria-expanded="false", data-target="#imgFolder")
                                    | img
                                    small.small.ml-2.text-gray - &nbsp; Contains template images
                                    ul.collapse#imgFolder
                                        li *.svg
                                        li *.jpg
                                        li *.png
                                
                                li.folder(data-toggle="collapse", aria-expanded="false", data-target="#jsFolder")
                                    | js
                                    small.small.ml-2.text-gray - &nbsp; Contains template scripts
                                    ul.collapse#jsFolder
                                        li.folder charts
                                            ul
                                                li bookings.chart.js
                                                li charts-config.js
                                                li visitors.chart.js
                                        li.folder validation
                                            ul
                                                li bs-select-validation.js
                                                li validation.js
                                    
                                        li front.js
                                        li leaflet.js
                                
                                li.folder(data-toggle="collapse", aria-expanded="false", data-target="#scssFolder")
                                    | scss
                                    small.small.ml-2.text-gray - &nbsp; Contains sass files modules
                                    ul.collapse#scssFolder
                                        li.folder(data-toggle="collapse", aria-expanded="false", data-target="#modulesFolder")
                                            | Modules
                                            ul.collapse#modulesFolder
                                                li.folder
                                                    | mixins
                                                li _3rd-party.scss
                                                li _about.scss
                                                li _admin.scss
                                                li _booking.scss
                                                li _components.scss
                                                li _dashboard.scss
                                                li _demo.scss
                                                li _forms.scss
                                                li _functions.scss
                                                li _general.scss
                                                li _mixins.scss
                                                li _mixins-custom.scss
                                                li _navbar.scss
                                                li _preloader.scss
                                                li _scrollTop.scss
                                                li _utils.scss
                                                li _variables.scss
                                        li _core.scss
                                        li _theme.scss
                                        li style.alt.font.scss
                                        li style.blue.scss
                                        li style.default.scss
                                        li style.green.scss
                                        li style.pink.scss
                                        li style.red.scss
                                        li style.rounded.scss
                                        li style.sea.scss
                                        li style.violet.css
                                        li style.yellow.css
                        
                                li.folder(data-toggle="collapse", aria-expanded="false", data-target="#vendorFolder")
                                    | vendor
                                    small.small.ml-2.text-gray - &nbsp; Contains all 3rd party plugins used in template
                                    ul.collapse#vendorFolder
                                        li.folder bootstrap
                                        li.folder bootstrap-datepicker
                                        li.folder bootstrap-select
                                        li.folder chart.js
                                        li.folder jquery
                                        li.folder jquery.cookie
                                        li.folder leaflet
                                        li.folder lightbox2
                                        li.folder owl.carousel2
                                        li.folder page-transition
                                        li.folder timepicker
                                        
                                li 404.html
                                li about-1.html
                                li about-2.html
                                li admin-bookings.html
                                li admin-edit-personal.html
                                li admin-login.html
                                li admin-pass-change.html
                                li admin-personal.html
                                li admin-reviews.html
                                li booking.html
                                li booking-cancellation.html
                                li booking-confirmation.html
                                li cancelled.html
                                li category.html
                                li contact-1.html
                                li contact-2.html
                                li dashboard.html
                                li dish.html
                                li gallery.html
                                li index.html
                                li login.html
                                li menu-1.html
                                li menu-2.html
                                li register.html
                                li search-results.html
                                li typography.html
                                li verification-code.html
                                li verified.html
                    
                    
                    
                
                // HTML SECTION ========================================================================  
                section.bg-light.mb-5#html
                    +heading('HTML Structure', 'HTML Structure', 'HTML', 'mb-3')
                    p.lead.mb-4 Since we're using Bootstrap 4, Bootstrap utility classes are applied to various elements on the page to quickly style them in some manner without the need to write custom CSS rules, we've also prepared a plenty utility classes to fullfil all your needs. In many cases, you just provide a class for your element and observe the result right away. If you’ve never employed utility classes before, fear not: in most cases they are quite simple, yet powerful.
                    
                    p.lead.mb-4 You can customize your headings from 
                        code data-text 
                        |  attribute. this attribute is used for dding bacground text for heading elements.
                    .pre-outer.position-relative.mb-5
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-html5
                            | index.html
                        pre.prettyprint.lang-html.linenums.px-4.pb-4
                            include _pug-includes/heading-snippet.html
                    
                    h4 HTML base markup
                    p.lead.mb-4 All the page markup are wrapped inside  
                        code .m-pagetransition 
                        |  wrapper, that's responsible for achieving the transiton effect on page load.
                    
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-html5
                            | index.html
                        pre.prettyprint.lang-html.linenums.px-4.pb-4
                            include _pug-includes/transition-snippet.html
                        
                        
                    p.lead.mb-4 Every page contains 3 main blocks, they're 
                        code &lt;header&gt; 
                        |  , 
                        code .page-content 
                        |  and 
                        code &lt;footer&gt;
                        | . Make sure to put all your markup inside 
                        code .page-content 
                        |  to avoid any horizontal overflowing. Your main navigation goes inside 
                        code &lt;header&gt; 
                        |  and your main footer goes inside 
                        code &lt;footer&gt;
                        
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-html5
                            | index.html
                            
                        pre.prettyprint.lang-html.linenums.px-4.pb-4
                            include _pug-includes/hero-snippet.html
                        
                        
                
                
                
                // CSS SECTION ======================================================================== 
                section.bg-light.mb-5#css
                    +heading('CSS Structure', 'CSS Structure', 'CSS', 'mb-3')
                    p.lead.mb-5 I'm using latest CSS coding standard. Custom Style written into style.default.css which is override Bootstrap style somewhere else.
                    
                    h6 CSS Files included:
                    ul.directory-list
                        li.folder
                            | css
                            small.small.ml-2.text-gray - &nbsp; Contains the defaul stylesheets
                            ul
                                li style.alt.font.css
                                li style.alt.font.min.css
                                li style.blue.css
                                li style.blue.min.css
                                li style.default.css
                                li style.default.min.css
                                li style.green.css
                                li style.green.min.css
                                li style.pink.css
                                li style.pink.min.css
                                li style.red.min.css
                                li style.red.css
                                li style.rounded.min.css
                                li style.rounded.css
                                li style.sea.min.css
                                li style.sea.css
                                li style.violet.min.css
                                li style.violet.css
                                li style.yellow.min.css
                                li style.yellow.css
                                
                        
                    p.lead.mb-4
                        code style.default.css
                        |  file contains all of the specific styling for the template. Here is an example of general style which is specify using following label:
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-css3
                            | style.default.css
                            
                        pre.prettyprint.lang-css.linenums.px-4.pb-4
                            include _pug-includes/css-snippet-1.html
            
                    p.lead.mb-4 If you would like to edit a specific section of the site, simply find the appropriate label in the CSS file, and then scroll down until you find the appropriate style that needs to be edited.
                    
                    p.lead.mb-4 
                        strong.font-weight-bold For example: 
                        | If you want to change the style of Hero section, find the following section in the stylesheet:
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-css3
                            | style.default.css
                            
                        pre.prettyprint.lang-css.linenums.px-4.pb-4
                            include _pug-includes/hero-css-snippet.html
                    
                    p.lead.mb-4 
                        code Style.default.css 
                        |  contains some utilitis that help you to customize your template from the HTML page, for example: 
                        code .list-icons 
                        |  class helps you to create an unordered list with colored icons. 
                
                    p.lead.mb-4 Here is an Example for the included helpers:
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-css3
                            | style.default.css
                            
                        pre.prettyprint.lang-css.linenums.px-4.pb-4
                            include _pug-includes/utilities-snippet.html
                            
                    p.lead.mb-2 
                        code style.default.css 
                        |  holds the yellow color variant, if you want to use another color variant, replace it by another color file, i.e. 
                        code style.blue.css
                
                
                
                
                
                // FONTS SECTION ======================================================================== 
                section.bg-light.mb-5#fonts
                    +heading('Fonts', 'Google Fonts', 'Fonts', 'mb-4')
                    
                    p.lead.mb-4 I'm using typefaces of Google Fonts which are free for commercial use, and you will not have any troubles with licensing. Also, the fonts are easy to implement on your website, so no trouble with font embedding. These font are:
                    
                    ol.p-0.custom-numbers.mb-0
                        li.mb-1
                            .h6.mb-0.d-inline-block
                                a.reset-anchor(href="https://fonts.google.com/specimen/Aclonica", target="_blank") Aclonica
                                span.small.mx-2 &amp;
                                a.reset-anchor(href="https://fonts.google.com/specimen/Original+Surfer", target="_blank") Original Surfer
                            span.text-muted.ml-2  For heading
                            
                            li
                                .h6.mb-0.d-inline-block
                                    a.reset-anchor(href="https://fonts.google.com/specimen/Poppins", target="_blank") Poppins
                                span.text-muted.ml-2  For text
                    
                
                
                
                // IMAGES SECTION ======================================================================== 
                section.bg-light.mb-5#images
                    +heading('Images', 'Template Images', 'Images', 'mb-4')
                    p.lead I'm using a variety of awesome images for demo purposes, you're not allowed to redistribute them neither for free or commercially and they are not provided in download package. You can find your perfect free images at many sources, here're few examples:
                    
                    ol.p-0.custom-numbers.mb-4
                        li.lead.mb-1 
                            a.underlined.reset-anchor(href="https://www.pexels.com", target="_blank") pexels.com 
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://unsplash.com/images/stock", target="_blank") unsplash.com 
                        li.lead
                            a.underlined.reset-anchor(href="https://www.freeimages.com", target="_blank") freeimages.com 
                            
                
                
                
                // JS SECTION ======================================================================== 
                section.bg-light.mb-5#js
                    +heading('Javascript', 'Javascript files', 'Javascript', 'mb-4')
                    h6 Javascript Files included:
                    ul.directory-list.mb-5
                        li.folder
                            | js
                            small.small.ml-2.text-gray - &nbsp; Contains template scripts
                            ul
                                li.folder charts
                                    ul
                                        li bookings.chart.js
                                        li charts-config.js
                                        li visitors.chart.js
                                li.folder validation
                                    ul
                                        li bs-select-validation.js
                                        li validation.js
                            
                                li.text-small front.js
                                li.text-small leaflet.js
                    
                    p.lead.mb-2
                        strong.font-weight-bold charts 
                        | folder contains charts' files used in 
                        code dashboard.html 
                        |  page.
                    p.lead.mb-2
                        strong.font-weight-bold validation 
                        | folder contains validation files for forms validation, include theme wherever you need a validation.
                    p.lead.mb-2 
                        code front.js 
                        |  is your main script file, all the main js code is written inside it.
                    p.lead.mb-4
                        code leaflet.js 
                        |  is the script that is responsible for map configurations.
                    p.lead.mb-2 All code are beautifully written. You can customize easily.
                    p.lead.mb-4
                        strong.font-weight-bold For example: 
                        | If you want to Configure the chefs slider, just find the following block and play with the slider options:
                    
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-js
                            | front.js
                            
                        pre.prettyprint.lang-js.linenums.px-4.pb-4
                            include _pug-includes/js-snippet.html
                    
                    
                 
                // SASS SECTION  ======================================================================== 
                section.bg-light.mb-5#sass
                    +heading('Sass', 'Sass files', 'Sass', 'mb-4')
                    h6 Javascript Files included:
                    ul.directory-list.mb-5
                        li.folder
                            | scss
                            small.small.ml-2.text-gray - &nbsp; Contains sass files modules
                            ul
                                li.folder
                                    span.text-small Modules
                                    ul
                                        li.folder
                                            | mixins
                                        li _3rd-party.scss
                                        li _about.scss
                                        li _admin.scss
                                        li _booking.scss
                                        li _components.scss
                                        li _dashboard.scss
                                        li _demo.scss
                                        li _forms.scss
                                        li _functions.scss
                                        li _general.scss
                                        li _mixins.scss
                                        li _mixins-custom.scss
                                        li _navbar.scss
                                        li _preloader.scss
                                        li _scrollTop.scss
                                        li _utils.scss
                                        li _variables.scss
                                li _core.scss
                                li _theme.scss
                                li style.alt.font.scss
                                li style.blue.scss
                                li style.default.scss
                                li style.green.scss
                                li style.pink.scss
                                li style.red.scss
                                li style.rounded.scss
                                li style.sea.scss
                                li style.violet.css
                                li style.yellow.css
                    
                    p.lead.mb-2 The template styling is carefully divided into small modules to make it easy to target a specific section and edit it.
                    p.lead.mb-4 Every change you'll make in modules file will be automatically applied to your default stylesheet. i.e. 
                        code style.default.scss
                        
                        
                        
                // CHANGELOG SECTION  ======================================================================== 
                section.bg-light.mb-5#changelog
                    +heading('Changelog', 'Changelog', 'Changelog', 'mb-4')
                    .pre-outer.position-relative.mb-4
                        .pre-mockup
                        .pre-tab-indicator
                            i.fab.fa-html5
                            | style.default.css
                            
                        pre.prettyprint.lang-css.linenums.px-4.pb-4
                            include _pug-includes/changelog-snippet.html
                    
                        
                        
                        
                // CREDITS SECTION ======================================================================== 
                section.bg-light.mb-5#credits
                    +heading('Credits', 'Source & Credits', 'Credits', 'mb-4')
                    
                    ol.p-0.custom-numbers.mb-4
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://jquery.com", target="_blank") jQuery v3.4.1
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://getbootstrap.com", target="_blank") Bootstrap v4.3.1
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://fontawesome.com", target="_blank") Font Awesome
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://github.com/nicolaszhao/timeselector", target="_blank") Timepicker
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://bootstrap-datepicker.readthedocs.io/en/latest/", target="_blank") Datepicker
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://owlcarousel2.github.io/OwlCarousel2/", target="_blank") Owl Carousel 2
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://lokeshdhakar.com/projects/lightbox2/", target="_blank") Lightbox2
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://developer.snapappointments.com/bootstrap-select/", target="_blank") Bootstrap Select
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://www.chartjs.org", target="_blank") ChartJs
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://www.jqueryscript.net/animation/Cross-fading-Page-Transition-Effects-jQuery-M-PageTransition.html", target="_blank") Page Transition
                        li.lead.mb-1
                            a.underlined.reset-anchor(href="https://leafletjs.com", target="_blank") Leaflet
                        li.lead
                            a.underlined.reset-anchor(href="https://codepen.io/sfi0zy/pen/PpdgXY", target="_blank") Preloader
                        
                            
                        
                        
                // THANK YOU SECTION ======================================================================== 
                section.bg-light.mb-5#thanks
                    +heading('Thanks', 'Thank You', 'Thanks', 'mb-4')
                    p.lead Once again, thank you so much for purchasing this product. As I said at the beginning, I'd be glad to help you if you have any questions related to this product. No guarantees, but I'll do my best to assist. If you have a more general question relating to this product on ThemeForest, you might consider visiting the forums and asking your question in the "Item Discussion" section.
