extends _jade-includes/layout

block content
    .container
        h1.mt-5 Bootstrap(ious) 4 Boilerplate
        p This is a sample content.

    .container
        .jumbotron
            h1 Kitchen Sink
            p A quick preview of everything Bootstrap has to offer.
            p
                a.btn.btn-primary.btn-large(href="#") Learn more »
                | 
                a.btn.btn-outline-primary.btn-large(href="#") Learn more »
        .row
            .col-lg-6
                #headings.card.mb-4
                    .card-header Headings
                    .card-body
                        h1.page-header
                            | Page Header
                            small With Small Text
                        h1 This is an h1 heading
                        h2 This is an h2 heading
                        h3 This is an h3 heading
                        h4 This is an h4 heading
                        h5 This is an h5 heading
                        h6 This is an h6 heading
                #tables.card.mb-4
                    .card-header
                        | Tables
                    .card-body
                        table.table.table-hover
                            thead
                                tr
                                    th #
                                    th First Name
                                    th Tables
                            tbody
                                tr
                                    td 1
                                    td Michael
                                    td Are formatted like this
                                tr
                                    td 2
                                    td Lucille
                                    td Do you like them?
                                tr.success
                                    td 3
                                    td Success
                                    td
                                tr.danger
                                    td 4
                                    td Danger
                                    td
                                tr.warning
                                    td 5
                                    td Warning
                                    td
                                tr.active
                                    td 6
                                    td Active
                                    td
                        table.table.table-striped.table-bordered.table-condensed
                            thead
                                tr
                                    th #
                                    th First Name
                                    th Tables
                            tbody
                                tr
                                    td 1
                                    td Michael
                                    td This one is bordered and condensed
                                tr
                                    td 2
                                    td Lucille
                                    td Do you still like it?
            .col-lg-6
                #content-formatting.card.mb-4
                    .card-header
                        | Content Formatting
                    .card-body
                        p.lead This is a lead paragraph.
                        p
                            | This is an 
                            b ordinary paragraph
                            |  that is 
                            i long enough
                            |  to wrap to 
                            u multiple lines
                            |  so that you can see how the line spacing looks.
                        p.text-muted Muted color paragraph.
                        p.text-warning Warning color paragraph.
                        p.text-danger Danger color paragraph.
                        p.text-info Info color paragraph.
                        p.text-primary Primary color paragraph.

                        nav(aria-label='...')
                            ul.pagination
                                li.page-item.disabled
                                    span.page-link Previous
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item.active
                                    span.page-link
                                        | 2
                                        span.sr-only (current)
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link(href='#') Next

                        p
                            small
                                | This is text in a 
                                code small
                                |  wrapper. 
                                abbr(title='No Big Deal') NBD
                                | , right?
                        hr
                        address
                            strong Twitter, Inc.
                            br
                            |  795 Folsom Ave, Suite 600
                            br
                            |  San Francisco, CA 94107
                            br
                            abbr(title='Phone') P:
                            |  (123) 456-7890
                        address.col-6
                            strong Full Name
                            br
                            a(href='mailto:#') first.last@example.com
                        hr
                        blockquote
                            | Here's what a blockquote looks like in Bootstrap.
                            small
                                | Use 
                                code small
                                |  to identify the source.
                        hr
                        .row
                            .col-xs-6
                                ul
                                    li Normal Unordered List
                                    li
                                        | Can Also Work
                                        ul
                                            li With Nested Children
                                    li Adds Bullets to Page
                            .col-xs-6
                                ol
                                    li Normal Ordered List
                                    li
                                        | Can Also Work
                                        ol
                                            li With Nested Children
                                    li Adds Bullets to Page
                        hr
                        pre.
                            \nfunction preFormatting() {  // looks like this;  var something = somethingElse;  return true;}                        
        #forms.card.mb-4
            .card-header
                | Forms
            .card-body
                form
                    fieldset
                        legend Legend
                        .form-group
                            label(for='exampleInputEmail') Email address
                            input#exampleInputEmail.form-control(type='text', placeholder='Enter email')
                        .form-group
                            label(for='exampleInputPassword') Password
                            input#exampleInputPassword.form-control(type='password', placeholder='Password')
                        .form-check.form-group
                            input.form-check-input#checkbox-1(type='checkbox')
                            label.form-check-label(for="checkbox-1") Check me out
                        button.btn.btn-primary(type='submit') Submit
                hr.my-5
                form.form-inline
                    input.form-control.mb-2.mr-sm-2(type='text', placeholder='Email')
                    label.sr-only(for='inlineFormInputGroupUsername2') Username
                    .input-group.mb-2.mr-sm-2
                        .input-group-prepend
                            .input-group-text @
                        input#inlineFormInputGroupUsername2.form-control(type='text')                    
                    .form-check.mb-2.mr-sm-2
                        input#inlineFormCheck.form-check-input(type='checkbox')
                        label.form-check-label(for='inlineFormCheck')
                            | Remember me
                    button.btn.btn-primary.mb-2(type='submit') Submit
                hr.my-5
                h4.mb-5 Horizontal form
                form
                    .form-group.row
                        label.col-sm-2.col-form-label(for='inputEmail3') Email
                        .col-sm-10
                            input#inputEmail3.form-control(type='email', placeholder='Email')
                    .form-group.row
                        label.col-sm-2.col-form-label(for='inputPassword3') Password
                        .col-sm-10
                            input#inputPassword3.form-control(type='password', placeholder='Password')
                    fieldset.form-group
                        .row
                            legend.col-form-label.col-sm-2.pt-0 Radios
                            .col-sm-10
                                .form-check
                                    input#gridRadios1.form-check-input(type='radio', name='gridRadios', value='option1', checked='')
                                    label.form-check-label(for='gridRadios1')
                                        | First radio
                                .form-check
                                    input#gridRadios2.form-check-input(type='radio', name='gridRadios', value='option2')
                                    label.form-check-label(for='gridRadios2')
                                        | Second radio
                                .form-check.disabled
                                    input#gridRadios3.form-check-input(type='radio', name='gridRadios', value='option3', disabled='')
                                    label.form-check-label(for='gridRadios3')
                                        | Third disabled radio
                    .form-group.row
                        .col-sm-2 Checkbox
                        .col-sm-10
                            .form-check
                                input#gridCheck1.form-check-input(type='checkbox')
                                label.form-check-label(for='gridCheck1')
                                    | Example checkbox
                    .form-group.row                                    
                        .col-sm-2 Custom Checkbox
                        .col-sm-10
                            .custom-control.custom-checkbox
                                input#customCheck1.custom-control-input(type='checkbox')
                                label.custom-control-label(for='customCheck1') Check this custom checkbox
                    .form-group.row                                    
                        .col-sm-2 Custom Radio
                        .col-sm-10
                            .custom-control.custom-radio
                                input#customRadio1.custom-control-input(type='radio', name='customRadio')
                                label.custom-control-label(for='customRadio1') Toggle this custom radio
                            .custom-control.custom-radio
                                input#customRadio2.custom-control-input(type='radio', name='customRadio')
                                label.custom-control-label(for='customRadio2') Or toggle this other custom radio

                    .form-group.row
                        .col-sm-10
                            button.btn.btn-primary(type='submit') Sign in


        #buttons.card
            .card-header
                | Buttons
            .card-body
                p
                    button.btn.btn-lg.btn-secondary(type='button') Default Lg
                    button.btn.btn-lg.btn-primary(type='button') Primary
                    button.btn.btn-lg.btn-success(type='button') Success
                    button.btn.btn-lg.btn-info(type='button') Info
                    button.btn.btn-lg.btn-warning(type='button') Warning
                    button.btn.btn-lg.btn-danger(type='button') Danger
                    button.btn.btn-lg.btn-link(type='button') Link
                p
                    button.btn.btn-secondary(type='button') Default 
                    button.btn.btn-primary(type='button') Primary
                    button.btn.btn-success(type='button') Success
                    button.btn.btn-info(type='button') Info
                    button.btn.btn-warning(type='button') Warning
                    button.btn.btn-danger(type='button') Danger
                    button.btn.btn-link(type='button') Link
                p
                    button.btn.btn-sm.btn-secondary(type='button') Default Sm
                    button.btn.btn-sm.btn-primary(type='button') Primary
                    button.btn.btn-sm.btn-success(type='button') Success
                    button.btn.btn-sm.btn-info(type='button') Info
                    button.btn.btn-sm.btn-warning(type='button') Warning
                    button.btn.btn-sm.btn-danger(type='button') Danger
                    button.btn.btn-sm.btn-link(type='button') Link
        .card
            .card-header Button dropdown
            .card-body
                .dropdown
                    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Dropdown button
                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
    
        

